<h1><%= t "reset_password.mail_subject" %></h1>
<p><%= t "reset_password.email_body.greeting" %></p>
<p>
  <%= link_to t "reset_password.mail_subject", edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
</p>
<p><%= t "reset_password.email_body.expiration" %></p>
<p><%= t "reset_password.email_body.ignore" %></p>
